### node etc ###
.env
# Logs
logs
*.log
package-lock.json

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/

# Google API Key
*/googleAPI.js

# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
