* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#event_text_field {
  margin-top: 500px;
}

#pin_drawer {
  background-color: white;
}

#map_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 124px 0 0 0;
}

#map_container > div:first-of-type {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  padding: 60px 0 0 0 !important;
}

#google_signin img {
  height: 20px;
  width: 20px;
  margin: 5px;
}

#search_area {
  position: relative;;
  z-index: 100;
}

#search_area input {
  width: 100%;
  height: 60px;
  display: block;
  padding: 0 23px;
  font-size: 18px;
  border: none;
}

#search_area input:focus {
  outline: none;
}

.clearfix {
  overflow: auto;
  content: "";
  display: table;
  clear: both;
}

.icon {
  position: absolute;
  top: 8px;
  z-index: 1400;
  background-color: rgb(0, 188, 212);
  left: 8px;
}

